# Xcode
xcuserdata/
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift / SPM
.swiftpm/
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Secrets
*.p12
*.mobileprovision

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.ipa
*.dSYM.zip
*.mobileprovision
