<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.taylordrew.vlognudge.refresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.taylordrew.vlognudge</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vlognudge</string>
			</array>
		</dict>
	</array>
	<key>NSHealthUpdateUsageDescription</key>
	<string>VlogNudge does not save data to Health.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Enable Background Location for Place Nudges so VlogNudge can remind you to record when you arrive at or leave saved places even while the app is not open.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>VlogNudge uses your location while the app is open to help you add saved places for Place Nudges.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
